* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

img,
input,
select,
textarea {
	border: 0;
}

i,
em,
span,
strong,
img {
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
}

ul,
ol,
li {
	list-style-type: none;
}

input,
textarea,
select {
	font-size: inherit;
	font-size: 100%;
	outline: none;
}

textarea {
	resize: none;
}

a {
	color: #000;
	text-decoration: none;
}

input[type="number"]::-webkit-textfield-decoration-container {
	background-color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	/* 有无看不出差别 */
}

input[type="number"]::-webkit-textfield-decoration-container {
	background-color: #fafafa;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center #fff;
    background-size: auto 100%;
    z-index: 300;
}
.box {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 8;
}

.box img {
	width: 100%;
}

.box .box_top {
	width: 100%;
    height: 5.1%;
    position: absolute;
    left: 0;
    top: 1%;
}
.box .box_top #box_top {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.box #box_top .top1 {
	width: 100%;
	height: 100%;
	background: url(../img/top1.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
}

.box #box_top .top2 {
	width: 100%;
	height: 100%;
	background: url(../img/top2.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
}

.box #box_top .top3 {
	width: 100%;
	height: 100%;
	background: url(../img/top3.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
}

.box #box_top #fenye1 {
	width: 72%;
    height: 20px;
    position: absolute;
    top: 87%;
    left: 14%;
    text-align: center;
    line-height: 22px;
    z-index: 10;
}

.fenye1 .swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	background-color: #bfbfbf;
	display: inline-block;
	border-radius: 0;
	margin: 1.4%;
}

.fenye1 .swiper-pagination-bullet-active {
	background-color: #009ad7;
}

.box .formInput {
	width: 100%;
	height: 11.7%;
	position: absolute;
	left: 0;
	top: 6%;
}

.box .formInput .title {
	width: 100%;
	height: 11%;
	margin-top: 10%;
}

.title .title_one {
	color: #fff;
	font-size: 2rem;
}

.formInput .item1,
.formInput .item2,
.formInput .item3,
.formInput .item4 {
	width: 100%;
	height: 15%;
}

.formInput p {
	margin-left: 14%;
	color: #fff;
	font-size: 1rem;
}

.formInput .input {
	margin-left: 11%;
	margin-top: 3%;
	color: #acacac;
	font-size: 0.8rem;
	width: 57%;
	height: 35%;
	background: #636363;
	border-radius: 8px;
}

.formInput input {
	margin-left: 5%;
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	color: #acacac;
	width: 92%;
	height: 100%;
	display: block;
}

.item3 .sf {
	margin-left: 11%;
	margin-top: 3%;
	color: #acacac;
	font-size: 0.8rem;
	width: 57%;
	height: 35%;
}

.item3 .sf #province {
	width: 30%;
	height: 100%;
	background: #636363;
	border-radius: 6px;
	color: #acacac;
	background-image: url(../img/jt.png);
	background-position: 90% 50%;
	background-size: 10px 10px;
	background-repeat: no-repeat;
}

.item3 .sf #city {
	width: 34%;
	height: 100%;
	background: #636363;
	border-radius: 6px;
	margin-left: 8%;
	color: #acacac;
	margin-left: 6%;
	background-image: url(../img/jt.png);
	background-position: 90% 50%;
	background-size: 10px 10px;
	background-repeat: no-repeat;
}

.item4 #jxs {
	width: 94%;
	height: 100%;
	display: block;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	margin-left: 6%;
	background: transparent;
	color: #acacac;
	background-image: url(../img/jt.png);
	background-position: 95% 50%;
	background-size: 10px 10px;
	background-repeat: no-repeat;
}

.formInput .btn {
	position: absolute;
	left: 11%;
	bottom: 12%;
	width: 36%;
	height: 7%;
	background-color: #32bcea;
	border-radius: 5px;
	display: flex;
	-webkit-display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	color: #FFFFFF;
	font-weight: 800;
}

.box .video {
	width: 100%;
	height: 6%;
	position: absolute;
	left: 0;
	top: 20%;
	z-index:10 ;
}
.box .video #videoSourse {
	height: 100%;
	width: 100%;
	
}
.box #videoSt{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}
.box .xinwen{
	width: 100%;
    height: 15%;
    position: absolute;
    left: 0;
    top: 28%;
}
.box .xinwen .btn1{
    width: 22%;
    height: 6%;
    position: absolute;
    right: 10%;
    top: 41%;
    background: transparent;
    z-index: 20;
}
.box .xinwen .btn2{
    width: 22%;
    height: 6%;
    position: absolute;
    right: 10%;
    top: 89%;
    background: transparent;
    z-index: 20;
}
.box .fh{
    position: absolute;
    right: 4%;
    bottom: 8.5%;
    width: 20%;
    height: 0.6%;
    background: transparent;
}
.box .gw{
    position: absolute;
    left: 20%;
    bottom: 7.7%;
    width: 28%;
    height: 0.8%;
    background: transparent;
}
.box .wb{
    position: absolute;
    left: 57%;
    bottom: 7.7%;
    width: 28%;
    height: 0.8%;
    background: transparent;
}
 .box .car_psi{
    width: 100%;
    height: 2.5%;
    position: absolute;
    left: 0;
    top: 63%;  z-index: 6;
 }
.box .car_psi .new_btn{
	position: absolute;
    left: 14%;
    top: 0;
    width: 34%;
    height: 100%;
}
.box .car_psi .next_btn{
	position: absolute;
    left: 51%;
    top: 0;
    width: 34%;
    height: 100%;
}
 .box .lunbo_one{
 	width: 100%;
    height: 13%;
    position: absolute;
    left: 0;
    top: 63.5%;
 }
.box .gsgs{
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 left:0;
	 top:0;
	
}
.box .gsgs .gsgs_top{
	width: 100%;
    height: 13%;
    background:url(../img/gsgs_top2.png) no-repeat center;
    background-size:  auto 100%;
	
}
.box .gsgs .gsgs_middle{
	width: 90%;
    height: 42%;
    margin: 6% auto ;
    position: relative;
}
.box .gsgs_middle #pageCar {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.box .gsgs_middle #pageCar .swiper-slide {
    width: 100%;
    height: 100%;
    
}

.carchild1 {
    background: url(../img/car-t1.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild2 {
    background: url(../img/car-t2.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild3 {
    background: url(../img/car-t3.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild4 {
    background: url(../img/car-t4.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild5 {
    background: url(../img/car-t5.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild6 {
    background: url(../img/car-t6.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild7 {
    background: url(../img/car-t7.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild8 {
    background: url(../img/car-t8.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild9 {
    background: url(../img/car-t9.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild10 {
    background: url(../img/car-t10.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild11 {
    background: url(../img/car-t11.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild12 {
    background: url(../img/car-t12.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild13 {
    background: url(../img/car-t13.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.carchild14 {
    background: url(../img/car-t14.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.swiper-button-prev.left-jt, .swiper-button-prev.lt-jt,.swiper-button-prev.br1-jt{
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 20px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/left.png);
    left: 0;
    border: 0;
    outline: none;
}

.swiper-button-next.right-jt,.swiper-button-next.rt-jt,.swiper-button-next.rt1-jt{
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 20px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/right.png);
    right: 0;
    border: 0;
    outline: none;
}

.swiper-button-prev.br1-jt,.swiper-button-next.rt1-jt{
	top:26%;
}
.box .gsgs .gsgs_bottom{
	width: 100%;
    height: 33%;
    margin-top: 6%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/big-car1.png);
    
}
.box .gsywly{
	   width: 100%;
	 height: 100%;
	 position: absolute;
	 left:0;
	 top:0;
	 display: none;
}
.box .gsywly .gsywly_top{
	width: 100%;
    height: 13%;
    background:url(../img/gsywly_top.png) no-repeat center;
    background-size:  auto 100%;
}
.box .gsywly .gsywly_middle{
	width: 90%;
    height: 42%;
    margin: 6% auto ;
    position: relative;
}
.box .gsywly_middle #pageCar1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.box .gsywly_middle #pageCar1 .swiper-slide {
    width: 100%;
    height: 100%;
    
}
.car1 {
    background: url(../img/car_n1_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car2 {
    background: url(../img/car_n2_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car3 {
    background: url(../img/car_n3_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car4 {
    background: url(../img/car_n4_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car5 {
    background: url(../img/car_n5_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car6 {
    background: url(../img/car_n6_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car7 {
    background: url(../img/car_n7_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car8 {
    background: url(../img/car_n8_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car9 {
    background: url(../img/car_n9_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.car10 {
    background: url(../img/car_n10_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.box .gsywly .gsywly_bottom{
	width: 100%;
    height: 33%;
    margin-top: 6%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/big_car2.png);
}
 .box .chexing{
 	position: absolute;
    left: 4%;
    top: 79.6%;
    width: 92%;
    height: 10.8%;
    margin: 0 auto;
}
.box .chexing .cp{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow:auto;
}
.cp_top{
	width:1400px;
	height: auto;
	
}
.cp_top .cp1,.cp2,.cp3,.cp4,.cp5,.cp6,.cp7,.cp8,.cp9,.cp10{
	width: 140px;
	float: left;
	position: relative;
}
.cp_top .cp1 img,.cp2 img,.cp3 img,.cp4 img,.cp5 img,.cp6 img,.cp7 img,.cp8 img,.cp9 img,.cp10 img{
	width: 100%;
	height: 3460px;
}
.cp_bottom{
	width: 1400px;
	height: auto;
	
}
.cp_bottom img{
	width: 100%;
}
.cp_top .cp1 .quanbu{
	width: 39%;
    height: 0.6%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/quan.png) no-repeat center;
    background-size: auto 100%;
    display: none;
    z-index: 30;
}
.cp_top .cp2 .guanbi,.cp3 .guanbi,.cp4 .guanbi,.cp5 .guanbi,.cp6 .guanbi,.cp7 .guanbi,.cp8 .guanbi,.cp9 .guanbi,.cp10 .guanbi{
	width: 14%;
    height: 0.6%;
    position: absolute;
    right: 0;
    top: 0;
    background:transparent;
    z-index: 30;
}
 .box .car_dot{
    width: 100%;
    height: 2.5%;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 6;
 }
.box .car_dot .frist_btn{
	position: absolute;
    left: 9%;
    top: 0;
    width: 34%;
    height: 100%;
}
.box .car_dot .sencond_btn{
	position: absolute;
    left: 52%;
    top: 0;
    width: 34%;
    height: 100%;
}
 .box .lunbo_two{
 	width: 100%;
    height: 15%;
    position: absolute;
    left: 0;
    top: 45.6%;
 }
.box .bright_one{
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 left:0;
	 top:0;
}

.box .bright_one .bright_one_top{
	width: 100%;
    height: 11%;
    background:url(../img/ld_top2.png) no-repeat center;
    background-size:  auto 100%;
}
.box .bright_one .bright_one_bottom,.box .bright_two .bright_two_bottom{
	width: 90%;
    height: 81%;
    margin: 6% auto ;
    position: relative;
    margin-top: 14.5%;
    
}
.box .bright_one .bright_one_bottom #brightOne,.box .bright_two .bright_two_bottom #brightTwo{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.bright_one_bottom #brightOne .swiper-slide{
	width: 100%;
	height: 100%;
}
.brightOne1{
	background: url(../img/lunbo1_1_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne2{
	background: url(../img/lunbo1_2_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne3{
	background: url(../img/lunbo1_3_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne4{
	background: url(../img/lunbo1_4_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne5{
	background: url(../img/lunbo1_5_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.brightOne6{
	background: url(../img/lunbo1_6_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne7{
	background: url(../img/lunbo1_7_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne8{
	background: url(../img/lunbo1_8_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne9{
	background: url(../img/lunbo1_9_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brightOne10{
	background: url(../img/lunbo1_10_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.box .bright_two{
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 left:0;
	 top:0;
	 display: none;
}
.box .bright_two .bright_two_top{
	width: 100%;
    height: 11%;
    background:url(../img/ld_top1.png) no-repeat center;
    background-size:  auto 100%;
}
.brighttwo1{
	background: url(../img/lunbo2_1_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo2{
	background: url(../img/lunbo2_2_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo3{
	background: url(../img/lunbo2_3_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo4{
	background: url(../img/lunbo2_4_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.brighttwo5{
	background: url(../img/lunbo2_5_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo6{
	background: url(../img/lunbo2_6_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo7{
	background: url(../img/lunbo2_7_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo1{
	background: url(../img/lunbo2_1_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo8{
	background: url(../img/lunbo2_8_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo9{
	background: url(../img/lunbo2_9_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.brighttwo10{
	background: url(../img/lunbo2_10_03.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.box-one {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.iframe-box {
    width: 87%;
    height: 79%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 500;
}

.iframe-box .iframe-inner-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 500;
    overflow: hidden;
}

.iframe-box .iframe-inner-box-ios {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 500;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
iframe {
    width: 100%;
    height: 100%;
}
@media all and (min-height: 400px) and (max-height: 480px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -5%;*/
    }
}

@media all and (min-height: 481px) and (max-height: 568px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -15%;*/
    }
}

@media all and (min-height: 481px) and (max-height: 520px) {
    iframe {
        width: 100%;
        height: 100%;
        margin-top: -5%;
    }
}

@media all and (min-height: 520px) and (max-height: 568px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -5%;*/
    }
}

@media all and (min-height: 569px) and (max-height: 627px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -15%;*/
    }
}

@media all and (min-height: 628px) and (max-height: 645px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -5%;*/
    }
}

@media all and (min-height: 645px) and (max-height: 750px) {
    iframe {
        width: 100%;
        height: 100%;
        /*margin-top: -16%;*/
    }
}

.go {
    width: 27%;
    height: 8.5%;
    position: fixed;
    right: -4%;
    top: 3.3%;
    background: url(../img/guanbi.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    z-index: 1100;
    display: none;
}
.box-one .go {
    width: 27%;
    height: 8.5%;
    position: absolute;
    right: -4%;
    top: 3.3%;
    background: url(../img/guanbi.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    z-index: 800;
}
